@charset "utf-8";
@import url("IMAGE_SLIDER.css");
div.imgbox {
	background-color: white;
}
div.imgbox:hover {
	border: 2px solid #777;
}
div.imgbox img {
	width: 100%;
	height: auto;
}
div.desc {
	padding: 15px;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	color: #25B4E4;
}
* {
	box-sizing: border-box;
}
.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
}

@media only screen and (max-width: 700px) {
.responsive {
	width: 49.99999%;
	margin: 6px 0;
}
}

@media only screen and (max-width: 500px) {
.responsive {
	width: 100%;
}
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

